<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="firstCar" class="lindx.spring.core.beans.Car">
        <property name="speed" value="190"></property>
        <property name="mark" value="BMV"></property>
    </bean>

    <bean id="secondCar" class="lindx.spring.core.beans.Car">
        <constructor-arg index="0" value="290"></constructor-arg>
        <constructor-arg index="1" value="Firari"></constructor-arg>
        <property name="countries">
            <list>
                <value>Russia</value>
                <value>USA</value>
            </list>
        </property>
    </bean>

</beans>  
